@import "tailwindcss";
@import "../styles/print.css";

:root {
  --background: #D9D9D9;
  --foreground: #00703C;
  --gray-light: #D9D9D9;
  --gray-medium: #B3B3B3;
  --gray-dark: #4D4D4D;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #4D4D4D;
    --foreground: #D9D9D9;
    --gray-light: #B3B3B3;
    --gray-medium: #4D4D4D;
    --gray-dark: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.btn-primary {
  @apply w-full px-6 py-3 rounded-lg shadow font-semibold text-lg text-center transition-colors duration-200 focus:outline-none focus:ring-2 focus:ring-[color:var(--foreground)] active:scale-95;
  background-color: var(--foreground);
  color: var(--background);
}

.btn-primary:hover {
  background-color: var(--gray-dark);
}

.btn-primary:focus {
  background-color: var(--gray-medium);
}
